{% extends 'base.html' %}


<html>
<body>
{% block content %}


  <h2>Welcome to the    Asset  Management System<span class="icon-emo-happy"></span></h2>

  <p class="lead">
    Asset management refers to systematic approach to the governance and realization of value from the things that a group or entity is responsible for, over their whole life cycles. It may apply both to tangible assets and to intangible assets.
  </p>
  <hr>
  <h3>ISRO</h3>
  <p>
   he Indian Space Research Organisation is the space agency of the Government of India headquartered in the city of Bengaluru. Its vision is to "harness space technology for national development while pursuing space science research and planetary exploration."
  </p>


{% endblock %}
</body>
</html>
